body,header,nav,ul,li,p,div,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;
}
body{
font-family:"Open Sans, Helvetica Neue, Helvetica, sans-serif";
background:#f7f7f9;
}
.header {
    margin-top:100px;
    width:100%;
    height:120px;
   
   
    
}

.nav {
    width:990px;
    height:120px;
    margin:0 auto;
    text-align: center
      
    
}
.nav ul{
    width:208px;
    height:100%;
    margin:0 auto;
}
.nav ul li{
    float:left;
    list-style:none;
    line-height:120px;
    height:120px;
   
}
.nav ul li a{
    padding:0 10px;
    text-decoration:none;
    color:#9099a3;

    font-size:18px;
}
.nav ul li a:hover{
    color:#333;
    text-decoration: underline;
}
.content {
    width:100%;
    height:100%;
    
}
.main {
    width:1000px;
    height:1000px;
    margin:0 auto;
   
}





.title-name {
    font-size:36px;
    color:#313437;
    height:90px;
    line-height:90px;
    width:100%;
    border-bottom:3px solid #333;
    text-align: center;
    
}

.content-left {
    width:700px;
    min-height:200px;
    height:200px;
    height:auto;
    float:left;
    
}

.cat1 {
    margin-top:-27px;
    width:213px;
    height:227px;
    float:right; 
    -webkit-animation:myaction1 3s;
    -moz-animation: myaction1 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
   
    
}
@-webkit-keyframes myaction1{
0% {height:227px;}
50% {height:219px;-webkit-transform: skewX(15deg);margin-right:-37px;}
100% {height:227px;}
}
@-moz-keyframes myaction1{
0% {height:227px;}
50% {height:219px;margin-right:-37px;-moz-transform: skewX(15deg);}
100% {height:227px;}
}
.footcats {
    width:215px;
    height:237px;
    position:fixed;
    bottom: 0;
    left:0;
}
